@font-face {
  font-family: "Helvetica";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Helvetica.woff") format('woff'), url("../fonts/Helvetica.ttf") format('truetype');
}

@font-face {
  font-family: "Helvetica";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/Helvetica_it.woff") format('woff'), url("../fonts/Helvetica_it.ttf") format('truetype');
}

@font-face {
  font-family: "Helvetica";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Helvetica_bd.woff") format('woff'), url("../fonts/Helvetica_bd.ttf") format('truetype');
}

@font-face {
  font-family: "Helvetica";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Helvetica_bd.woff") format('woff'), url("../fonts/Helvetica_bd.ttf") format('truetype');
}

@font-face {
  font-family: "Helvetica";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Helvetica_bd_cn.woff") format('woff'), url("../fonts/Helvetica_bd_cn.ttf") format('truetype');
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  font-weight: 400;
  font-family: "Helvetica", sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  height: 100%;
}

.btn {
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.container {
  height: 100vh;
  position: relative;
}

.main-overlay {
  background-color: #00817B;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: .5s ease;
  box-shadow: 14px 0 0 0px rgba(0, 0, 0, 0.4);
}

.hide {
  transform: translateX(-98%);
}

.main-overlay-content {
  display: flex;
  flex-grow: 2;
  align-items: center;
}

.content-title {
  height: 100px;
}

.content-toggle {
  font-size: 0;
  width: 100px;
  height: 100px;
  background-image: url('../img/button.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-left: 20px;
}

.footer {
  width: 100%;
  padding: 0 154px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: auto;
}

.footer-menu {
  font-size: 20px;
  line-height: 28px;
}

.footer-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-menu-item {
  padding: 0 20px;
  position: relative;
}

.footer-menu-item::after {
  position: absolute;
  top: 7px;
  right: 0;
  content: "";
  height: 14px;
  width: 1px;
  background-color: #cccccc
}

.footer-menu-item:last-child {
  padding-right: 0;
}

.footer-menu-item:last-child::after {
  display: none;
}

.footer-menu-link {
  color: #fbae17;
}

.footer-contact {
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

.footer-contact-logo {
  height: 170px;
  margin-bottom: 15px;
}

.main-content {
  height: 100%;
  background-image: url('../img/beach.jpg');
  background-size: cover;
  position: relative;
  cursor: pointer;
}

.tables-container {
  padding: 50px;
  padding-left: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table {
  font-size: 20px;
  border-collapse: collapse;
  cursor: auto;
  margin-bottom: 40px;
  margin-right: 40px;
}

th {
  text-align: left;
  background-color: wheat;
}

td {
  background-color: #ffffff;
}

td, th {
  border: 1px solid #000000;
  padding: 15px;
}

.grid-table {
  cursor: auto;
  display: grid;
  width: 506px;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 233px 1fr;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  margin-bottom: 40px;
}

.grid-table span {
  font-size: 20px;
  padding: 14px;
  border-left: 1px solid #000000;
  border-bottom: 1px solid #000000;
  background-color: #ffffff;
}


.grid-table span:nth-child(-n + 4) {
  background-color: wheat;
}
